input {
    border: none;
}
.timeDPDisplay {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.timeDP-col {
    display: flex;
    flex-direction: column;
    width: 35px;
}
.timepdd {
    width: 20px ; 
}
.d-flex {
    display: flex;
}
.show {display: block;}